

/* Naslov */

section h1{
    text-align: center;
    margin: auto;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* News blokovi */

.glavno{
    width: 70%;
    margin: auto;
    padding: 0 40px;
}

#content{
    position: relative;
}

.blok{
    margin-bottom: 40px;
    width: 30%;
    box-sizing: border-box;
}

.blok_content{
    border-radius: 10%;
    box-shadow: 4px 4px 5px 5px #ccc;
    display: flex;
    flex-flow: column;
    height: fit-content;
}

.blok img{
    width: 100%;
    border-radius: 10% 10% 0 0;
    flex-grow: 0;
    flex-shrink: 1;
}

.blok_tekst{
    padding: 0 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    max-height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.tekst_sekcija{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tekst_sekcija h2{
    text-align: center;
    margin: 0.5rem 0;
}

.tekst_sekcija .datum{
    margin: 0;
}

.tekst_sekcija p{
    margin: 0.5rem 0;
}

.lokacija{
    font-weight: bold;
}

.link_sekcija a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(24, 158, 199);
    font-size: 1.3rem;
    transition: color 0.5s;
}

.blok_tekst a:hover{
    color: rgb(24, 36, 199);
}

/* Učitaj još gumb */

#ucitajJos{
    cursor: pointer;
    border-radius: 500px;
    transition-property: background-color, color;
    transition-duration: .3s;
    min-width: 160px;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: rgb(24, 158, 199);
    border: 3px solid rgb(24, 158, 199);
    background-color: transparent;
    padding: 20px 18px 18px;
    margin: 20px auto;
}

#ucitajJos:hover{
    color: #fff;
    background-color: rgb(24, 158, 199);
}