section{
    margin-bottom: 4rem;
    display: flex;
    
}
/*Naslov*/
section h1{
    margin: auto;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
/* sadržaj*/

#mapa_stranica {
    position: relative;
    width: 100%;
    height: 80vh;
}

#map {
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 15px;
}

#layer-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ffffffdd;
    padding: 8px 12px;
    border-radius: 4px;
    font-family: sans-serif;
    z-index: 1000;
}


/* parking kartice */

.parking_status{
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 10%;
}

.parking_kartica{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 15px 15px 10px 10px;
    box-shadow: 4px 4px 5px 5px #ccc;
}

.slobodno h2, .slobodno p{
    color: #38b000;
}

.upitno h2, .upitno p{
    color: #ff9100;
}

.zauzeto h2, .zauzeto p{
    color: #bf0603;
}

.parking_kartica a{
    text-decoration: none;
}

.data{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.broj_mjesta{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 5px;
}

.kapacitet{
    color: rgb(97, 97, 97) !important;
    margin: 0;
    font-size: 0.9rem;
}

.boja{
    height: 7px;
    width: 100%;
    border-radius: 0 0 15px 15px;
}

.kartica1 .boja{
    background-color: #ffadad;
}

.kartica2 .boja{
    background-color: #ffd6a5;
}

.kartica3 .boja{
    background-color: #fdffb6;
}

.kartica4 .boja{
    background-color: #caffbf;
}

.kartica5 .boja{
    background-color: #9bf6ff;
}

.kartica6 .boja{
    background-color: #a0c4ff;
}

.kartica7 .boja{
    background-color: #bdb2ff;
}

.kartica8 .boja{
    background-color: #ffc6ff;
}